*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.hotswan/


# Firebase
google-services.json
GoogleService-Info.plist

# Firebase local config
.firebase/
firebase-debug.log
firebase-debug.*.log
firebase.local.json

# Firebase emulator
firebase-export/