*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.hotswan/


google-services.json
GoogleService-Info.plist

GoogleService-Info-*.plist          # if you have flavor variants
app/google-services.json            # if it's placed inside app/
ios/Runner/GoogleService-Info.plist # Flutter/React Native iOS path

# Firebase local config
.firebase/
firebase-debug.log
firebase-debug.*.log
firebase.local.json

# Firebase emulator
firebase-export/